<%GC::start%>
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Totales">
    <Table>


<%if @rol == "ACRM" or @rol == "DN"%>
      <Row>
        <Cell><Data ss:Type="String">Contadores por sedes</Data></Cell>
      </Row>
      <Row>
          <Cell><Data ss:Type="String">Sede</Data></Cell>
          <Cell><Data ss:Type="String">Total</Data></Cell>
          <Cell><Data ss:Type="String">Realizadas</Data></Cell>
          <Cell><Data ss:Type="String">Pendientes</Data></Cell>                                  
      </Row>
     <%
     grouped = @llamadas.group(:sede_id).count
     %>
     <%grouped.each do |a|%>
<%
      @llamadas_realizadas = @llamadas.where(:sede_id=>a[0]).where(:pendiente=>false).size
      @llamadas_pendientes = @llamadas.where(:sede_id=>a[0]).where(:pendiente=>true).size
%>
      <Row>
        <Cell><Data ss:Type="String"><%=Sede.where(:id=>a[0]).pluck(:nombre)[0]%></Data></Cell>
        <Cell><Data ss:Type="Number"><%=a[1]%></Data></Cell>
        <Cell><Data ss:Type="Number"><%=@llamadas_realizadas%></Data></Cell>
        <Cell><Data ss:Type="Number"><%=@llamadas_pendientes%></Data></Cell>
      </Row>      
     <%end%>
<%end%>


<%if @rol == "CP" or @rol == "D" or  @rol == "ACRM" or @rol == "DN"%>  
      <Row>
        <Cell><Data ss:Type="String">Contadores por asesor</Data></Cell>
      </Row>
      <Row>
          <Cell><Data ss:Type="String">Asesor</Data></Cell>
          <Cell><Data ss:Type="String">Total</Data></Cell>
          <Cell><Data ss:Type="String">Realizadas</Data></Cell>
          <Cell><Data ss:Type="String">Pendientes</Data></Cell>                                  
      </Row>
     <%
     grouped = @llamadas.group(:user_id).count
     %>
     <%grouped.each do |a|%>
<%
      @llamadas_realizadas = @llamadas.where(:user_id=>a[0],:pendiente=>false).size
      @llamadas_pendientes = @llamadas.where(:user_id=>a[0],:pendiente=>true).size
%>
      <Row>
        <Cell><Data ss:Type="String"><%=User.where(:id=>a[0]).pluck(:username)[0]%></Data></Cell>
        <Cell><Data ss:Type="Number"><%=a[1]%></Data></Cell>
        <Cell><Data ss:Type="Number"><%=@llamadas_realizadas%></Data></Cell>
        <Cell><Data ss:Type="Number"><%=@llamadas_pendientes%></Data></Cell>
      </Row>      
     <%end%>
<%end%>


   
    </Table>
  </Worksheet>



 <Worksheet ss:Name="Comentarios">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Sede</Data></Cell>
        <Cell><Data ss:Type="String">Asesor</Data></Cell>
        <Cell><Data ss:Type="String">ID del prospecto</Data></Cell>
        <Cell><Data ss:Type="String">Estado del prospecto</Data></Cell>
        <Cell><Data ss:Type="String">Liga al prospecto</Data></Cell>
        <Cell><Data ss:Type="String">Comentario de llamada</Data></Cell>  
        <Cell><Data ss:Type="String">Comentario de prosecto</Data></Cell>                             
      </Row>
      <%@llamadas.each do |a|%>
        <Row>
          <Cell><Data ss:Type="String"><%=Sede.where(:id=>a.sede_id).pluck(:nombre)[0]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=User.where(:id=>a.user_id).pluck(:username)[0]%></Data></Cell>
          <Cell><Data ss:Type="Number"><%=a.model_id%></Data></Cell>
          <Cell><Data ss:Type="String"><%=a.model_name%></Data></Cell>
          <%link = "http://isefcrm.herokuapp.com/#{a.model_name}/#{a.model_id}/edit"%>
          <Cell ss:HRef="<%=link%>"><Data ss:Type="String"><%=link_to link %></Data></Cell>
          <Cell><Data ss:Type="String"><%=a.comentarios%></Data></Cell>
          <Cell><Data ss:Type="String">
            <%
            #get comentarios of the current record
            #Prospecto.where(:id => a.model_id).first.ireccions.first.pluck(:comentarios)
            case a.model_name # a_variable is the variable we want to compare
            when "prospectos"    #compare to 1
              %><%=Prospecto.where(:id => a.model_id).first.interes_basicos.limit(1).pluck(:comentarios)[0] rescue ""%><%
            when "solicitantes"    #compare to 2
                 %><%=Solicitante.where(:id=>a.model_id).first.prospectos.first.interes_basicos.limit(1).pluck(:comentarios)[0] rescue ""%><%
            when "examinados"
              %><%=Examinado.where(:id=>a.model_id).first.solicitantes.first.prospectos.first.interes_basicos.limit(1).pluck(:comentarios)[0] rescue ""%><%
            when "admitidos"
              %><%=Admitido.where(:id=>a.model_id).first.examinados.first.solicitantes.first.prospectos.first.interes_basicos.limit(1).pluck(:comentarios)[0] rescue ""%><%
            when "inscritos"
              %><%=Inscrito.where(:id=>a.model_id).first.admitidos.first.examinados.solicitantes.first.prospectos.first.interes_basicos.limit(1).pluck(:comentarios)[0] rescue ""%><%
            else 
              
            end            

            %>


          </Data></Cell>
        </Row>    
      <%end%>
    </Table>
  </Worksheet>  
</Workbook>
