<%- model_class = LlamadasRpm -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_llamadas_rpm_path,
            :class => 'btn btn-primary' %>

<table class="table table-hover table-condensed table-responsive table-bordered table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:realizadas) %></th>
      <th><%= model_class.human_attribute_name(:pendientes) %></th>
      <th><%= model_class.human_attribute_name(:por_realizar) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @llamadas_rpms.each do |llamadas_rpm| %>
      <tr>
        <td><%= link_to llamadas_rpm.id, llamadas_rpm_path(llamadas_rpm) %></td>
        <td><%= llamadas_rpm.realizadas %></td>
        <td><%= llamadas_rpm.pendientes %></td>
        <td><%= llamadas_rpm.por_realizar %></td>
        <td><%=l llamadas_rpm.created_at %></td>
        <td> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_llamadas_rpm_path,
            :class => 'btn btn-primary' %>
