                    <%@programas = Programa.all
valor= true


        rol = Role.where(:id=>usuario.role).first

%>


<%

 modelo = Configuracione.where(:user_id=>current_user.id).first rescue nil
    archivado=false
    if modelo != nil
      archivado = modelo.mostrar_archivados
    else
      Configuracione.create(:user_id=>current_user.id,:mostrar_archivados=>false)
    end 
%>
<%
@prospectosnovalidados = items.where(:archivado=>archivado).where(:validado=>false).where(:issolicitante=>false)
@prospectosvalidados=items.where(:archivado=>archivado).where(:validado=>true).where(:issolicitante=>false)
%>
<%
solicitantes1 = items.joins{solicitante}.where{solicitantes.archivado==archivado}.where{solicitante.isexaminado==false}.where(:user_id=>usuario.id).where(:archivado=>archivado)
examinados1 = items.joins{solicitante.examinado}.where{examinados.archivado==archivado}.where{solicitantes.archivado==archivado}.where{examinados.isadmitido==false}.where(:user_id=>usuario.id).where(:archivado=>archivado)
admitidos1 = items.joins{solicitante.examinado.admitido}.where{admitidos.archivado==archivado}.where{examinados.archivado==archivado}.where{solicitantes.archivado==archivado}.where{admitidos.isinscrito==false}.where(:user_id=>usuario.id).where(:archivado=>archivado)
inscritos1 = items.joins{solicitante.examinado.admitido.inscrito}.where{inscritos.archivado == archivado}.where{admitidos.archivado==archivado}.where{examinados.archivado==archivado}.where{solicitantes.archivado==archivado}.where(:user_id=>usuario.id).where(:archivado=>archivado)

%>


                  <%valor =true
valor1 =true
                  %>




   <div class="tabbable tabs-left">
                <ul class="nav nav-tabs" id="myTaba3">
                  <%User.where(:sede_id=>current_user.sede_id).each do |user|%>
                      <li class=" <%if valor1 %>active<%end%>"><a href="#suser<%=user.id%>" data-toggle="tab"><%=user.username%> (<%=ApplicationController.getCountByUser(user.id,archivado,@prospectosvalidados,@prospectosnovalidados,solicitantes1,examinados1,admitidos1,inscritos1)%>)</a></li>
                      <%if valor1%>
                          <%valor1 = false%>
                      <%end%>
                  <%end%>
                </ul>
                <%valor1 =true%>

                <div class="tab-content">
                  <%User.where(:sede_id=>current_user.sede_id).each do |user|%>
<%
@prospectosnovalidados = items.where(:user_id=>user.id).where(:validado=>false).where(:issolicitante=>false)
@prospectosvalidados=items.where(:user_id=>user.id).where(:validado=>true).where(:issolicitante=>false)
%>                  
                      <div class="tab-pane <%if valor1 %>active<%end%>" id="suser<%=user.id%>">
                          <h1><small><%=user.username%></small></h1>

<div class="tabbable tabs-left">

    <ul class="nav nav-tabs" id="myTaba">
      <%@programas.each do |programa|%>
          <li class="<%if valor %>active<%end%>"><a href="#<%=user.id%><%=programa.id%>" data-toggle="tab"><%=programa.nivel rescue ""%> - <%=programa.programa%> (<%=ApplicationController.getCountByPrograma(programa.id,user.id,archivado,@prospectosvalidados,@prospectosnovalidados,solicitantes1,examinados1,admitidos1,inscritos1)%>)</a></li>      
          <%if valor%>
              <%valor = false%>
          <%end%>
      <%end%>
      <li class="<%if valor %>active<%end%>"><a href="#<%=user.id%>nil" data-toggle="tab">Sin Programa (<%=ApplicationController.getCountByPrograma(nil,user.id,archivado,@prospectosvalidados,@prospectosnovalidados,solicitantes1,examinados1,admitidos1,inscritos1)%>)</a></li>  
    </ul>
    <%valor =true%>

    <div class="tab-content">
      <%@programas.each do |programa|%>
          <div class="tab-pane <%if valor %>active<%end%>" id="<%=user.id%><%=programa.id%>">
            
            <%= render partial: 'links', locals: { programaid: programa.id, usuarioid: usuario.id, prospectoscount: ApplicationController.getProspectoCountByPrograma(programa.id,usuario.id,archivado,@prospectosvalidados,@prospectosnovalidados), solicitantescount: ApplicationController.getOtherCountByPrograma(programa.id,usuario.id,archivado,solicitantes1),examinadoscount: ApplicationController.getOtherCountByPrograma(programa.id,usuario.id,archivado,examinados1), admitidoscount:  ApplicationController.getOtherCountByPrograma(programa.id,usuario.id,archivado,admitidos1),inscritoscount:  ApplicationController.getOtherCountByPrograma(programa.id,usuario.id,archivado,inscritos1)} %>
                <ul class="nav nav-tabs" id="myTabax">
          <%
          valora =true
          limit = 11;
          for counter in 0..limit
            currAnio = 2016 + counter
            
          %>
<div id="links2" style="display: none;">
  <%idss= "yourLinkIDxa".to_s + programa.id.to_s + usuario.id.to_s + usuario.sede.id.to_s + currAnio.to_s %>
  <%= link_to "Cargar Estadisticas", fetch_chart_anio_path(:user_id =>usuario.id, :user_role=>usuario.role, :user_sede=>usuario.sede.id,:archivado=>archivado, :anio=>currAnio,:programa_id=>programa.id, :usuario_id=>usuario.id,:usuario_sede_id=>usuario.sede.id), :remote => true, :id=>idss %>
</div>          
              <li class="<%if valora %>active<%end%>"><a href="#<%=currAnio%><%=programa.id%><%=usuario.id%><%=usuario.sede.id%>" data-toggle="tab"  onClick="document.getElementById('<%=idss%>').click();"><%=currAnio%> (<%=ApplicationController.getCountByPeriodoItems(currAnio,programa.id,usuario.id,usuario.sede.id,archivado,items)%>)</a></li>
          <%
          if valora 
              valora=false
            end
          end

          %>
    </ul>
    <div class="tab-content">
          <%
          valora=true
          limit = 11;
          for counter in 0..limit
            currAnio = 2016 + counter
           
          %>      
            
          <div class="tab-pane  <%if valora %>active<%end%>" id="<%=currAnio%><%=programa.id%><%=usuario.id%><%=usuario.sede.id%>">
              <div id="<%=currAnio%>speriodocontent<%=programa.id%><%=usuario.id%><%=usuario.sede.id%>">
                                      
              </div>          
          </div>
          <%if valora%>
              <%valora = false%>
          <%end%>              
          <%
                      if valora 
              valora=false
            end 
          end

          %>      
    </div>

           
                

              </div>      
          <%if valor%>
              <%valor = false%>
          <%end%>      
        
      <%end%>

<div class="tab-pane <%if valor %>active<%end%>" id="<%=user.id%>nil">
  <%= render partial: 'links', locals: { programaid: nil, usuarioid: usuario.id, prospectoscount: ApplicationController.getProspectoCountByPrograma(nil,usuario.id,archivado,@prospectosvalidados,@prospectosnovalidados), solicitantescount: ApplicationController.getOtherCountByPrograma(nil,usuario.id,archivado,solicitantes1),examinadoscount: ApplicationController.getOtherCountByPrograma(nil,usuario.id,archivado,examinados1), admitidoscount:  ApplicationController.getOtherCountByPrograma(nil,usuario.id,archivado,admitidos1),inscritoscount:  ApplicationController.getOtherCountByPrograma(nil,usuario.id,archivado,inscritos1)} %>
                <ul class="nav nav-tabs" id="myTabax">
          <%
          valora =true
          limit = 11;
          for counter in 0..limit
            currAnio = 2016 + counter
            
          %>
<div id="links2" style="display: none;">
  <%idss= "yourLinkIDxa".to_s + nil.to_s + usuario.id.to_s + usuario.sede.id.to_s + currAnio.to_s %>
  <%= link_to "Cargar Estadisticas", fetch_chart_anio_path(:user_id =>usuario.id, :user_role=>usuario.role, :user_sede=>usuario.sede.id,:archivado=>archivado, :anio=>currAnio,:programa_id=>nil, :usuario_id=>usuario.id,:usuario_sede_id=>usuario.sede.id), :remote => true, :id=>idss %>
</div>            
<%if valora%>
<script>
document.getElementById('<%=idss%>').click();
</script>
<%end%>
              <li class="<%if valora %>active<%end%>"><a href="#<%=currAnio%>nil<%=usuario.id%><%=usuario.sede.id%>" data-toggle="tab"  onClick="document.getElementById('<%=idss%>').click();"><%=currAnio%> (<%=ApplicationController.getCountByPeriodoItems(currAnio,nil,usuario.id,usuario.sede.id,archivado,items)%>)</a></li>
          <%
          if valora 
              valora=false
            end
          end

          %>
    </ul>
    <div class="tab-content">
          <%
          valora=true
          limit = 11;
          for counter in 0..limit
            currAnio = 2016 + counter
           
          %>      
            
          <div class="tab-pane  <%if valora %>active<%end%>" id="<%=currAnio%>nil<%=usuario.id%><%=usuario.sede.id%>">
              <div id="<%=currAnio%>speriodocontentnil<%=usuario.id%><%=usuario.sede.id%>">
                                      
              </div>          
          </div>
          <%if valora%>
              <%valora = false%>
          <%end%>              
          <%
                      if valora 
              valora=false
            end 
          end

          %>      
    </div>

           
              </div> 


      </div>
    </div>



                      </div>
                      <%if valor1%>
                          <%valor1 = false%>
                      <%end%>
                  <%end%>
                </div>
            </div> 
