<div class="tabbable tabs-left">
<%@programas = Programa.all
valor= true


        rol = Role.where(:id=>usuario.role).first

%>

<%

 modelo = Configuracione.where(:user_id=>current_user.id).first rescue nil
    archivado=false
    if modelo != nil
      archivado = modelo.mostrar_archivados
    else
      Configuracione.create(:user_id=>current_user.id,:mostrar_archivados=>false)
    end 
%>
<%
@prospectosnovalidados = items.where(:user_id=>usuario.id).where(:archivado=>archivado).where(:validado=>false).where(:issolicitante=>false)
@prospectosvalidados=items.where(:user_id=>usuario.id).where(:archivado=>archivado).where(:validado=>true).where(:issolicitante=>false)
%>

<%
solicitantes1 = items.joins{solicitante}.where{solicitantes.archivado==archivado}.where{solicitante.isexaminado==false}.where(:user_id=>usuario.id).where(:archivado=>archivado)
examinados1 = items.joins{solicitante.examinado}.where{examinados.archivado==archivado}.where{solicitantes.archivado==archivado}.where{examinados.isadmitido==false}.where(:user_id=>usuario.id).where(:archivado=>archivado)
admitidos1 = items.joins{solicitante.examinado.admitido}.where{admitidos.archivado==archivado}.where{examinados.archivado==archivado}.where{solicitantes.archivado==archivado}.where{admitidos.isinscrito==false}.where(:user_id=>usuario.id).where(:archivado=>archivado)
inscritos1 = items.joins{solicitante.examinado.admitido.inscrito}.where{inscritos.archivado == archivado}.where{admitidos.archivado==archivado}.where{examinados.archivado==archivado}.where{solicitantes.archivado==archivado}.where(:user_id=>usuario.id).where(:archivado=>archivado)

%>

    <ul class="nav nav-tabs" id="myTaba">
      <%@programas.each do |programa|%>
      <div id="links2" style="display: none;">
  <%idss= "yourLinkIDxsa".to_s + programa.id.to_s + usuario.id.to_s + usuario.sede.id.to_s%>
  <%= link_to "Cargar Estadisticas", fetch_chart_anios_path(:user_id =>usuario.id, :user_role=>usuario.role, :user_sede=>usuario.sede.id,:archivado=>archivado,:programa_id=>programa.id, :usuario_id=>usuario.id,:usuario_sede_id=>usuario.sede.id), :remote => true, :id=>idss %>
</div>   
          <%if valor%>
              <%valor = false%>
              <li class="active"><a href="#<%=programa.id%>" data-toggle="tab"  onClick="document.getElementById('<%=idss%>').click();"><%=programa.nivel rescue ""%> - <%=programa.programa%> (<%=ApplicationController.getCountByPrograma(programa.id,usuario.id,archivado,@prospectosvalidados,@prospectosnovalidados,solicitantes1,examinados1,admitidos1,inscritos1)%>)</a></li>
          <%else%>
              <li class=""><a href="#<%=programa.id%>" data-toggle="tab"  onClick="document.getElementById('<%=idss%>').click();"><%=programa.nivel rescue ""%> - <%=programa.programa%> (<%=ApplicationController.getCountByPrograma(programa.id,usuario.id,archivado,@prospectosvalidados,@prospectosnovalidados,solicitantes1,examinados1,admitidos1,inscritos1)%>)</a></li>
          <%end%>
      <%end%>
      
             <div id="links2" style="display: none;">
  <%idss= "yourLinkIDxsa".to_s + "nil" + usuario.id.to_s + usuario.sede.id.to_s%>
  <%= link_to "Cargar Estadisticas", fetch_chart_anios_path(:user_id =>usuario.id, :user_role=>usuario.role, :user_sede=>usuario.sede.id,:archivado=>archivado,:programa_id=>nil, :usuario_id=>usuario.id,:usuario_sede_id=>usuario.sede.id), :remote => true, :id=>idss %>
</div>     

      <li class=""><a href="#nil" data-toggle="tab"  onClick="document.getElementById('<%=idss%>').click();">Sin Programa (<%=ApplicationController.getCountByPrograma(nil,usuario.id,archivado,@prospectosvalidados,@prospectosnovalidados,solicitantes1,examinados1,admitidos1,inscritos1)%>)</a></li>
    </ul>
    <%valor =true%>

    <div class="tab-content">
      <%@programas.each do |programa|%>
          <div class="tab-pane  <%if valor %>active<%end%>" id="<%=programa.id%>">
            <%= render partial: 'links', locals: { programaid: programa.id, usuarioid: usuario.id, prospectoscount: ApplicationController.getProspectoCountByPrograma(programa.id,usuario.id,archivado,@prospectosvalidados,@prospectosnovalidados), solicitantescount: ApplicationController.getOtherCountByPrograma(programa.id,usuario.id,archivado,solicitantes1),examinadoscount: ApplicationController.getOtherCountByPrograma(programa.id,usuario.id,archivado,examinados1), admitidoscount:  ApplicationController.getOtherCountByPrograma(programa.id,usuario.id,archivado,admitidos1),inscritoscount:  ApplicationController.getOtherCountByPrograma(programa.id,usuario.id,archivado,inscritos1)} %>
            
  

<div id="yearssperiodocontent<%=programa.id%><%=usuario.id%><%=usuario.sede.id%>">
</div>
                                      <%if valor%>
                <script>document.getElementById('<%=idss%>').click();</script>
                <%end%>

           
          </div>
          <%if valor%>
              <%valor = false%>
          <%end%>    
      <%end%>

<div class="tab-pane" id="nil">

  <%= render partial: 'links', locals: { programaid: nil, usuarioid: usuario.id, prospectoscount: ApplicationController.getProspectoCountByPrograma(nil,usuario.id,archivado,@prospectosvalidados,@prospectosnovalidados), solicitantescount: ApplicationController.getOtherCountByPrograma(nil,usuario.id,archivado,solicitantes1),examinadoscount: ApplicationController.getOtherCountByPrograma(nil,usuario.id,archivado,examinados1), admitidoscount:  ApplicationController.getOtherCountByPrograma(nil,usuario.id,archivado,admitidos1),inscritoscount:  ApplicationController.getOtherCountByPrograma(nil,usuario.id,archivado,inscritos1)} %>

<div id="yearssperiodocontent<%=usuario.id%><%=usuario.sede.id%>">
</div>
           

           
              </div>



      </div>
    </div>
