                 <%@programas = Programa.all
valor= true


        rol = Role.where(:id=>usuario.role).first

%>
<%

 modelo = Configuracione.where(:user_id=>current_user.id).first rescue nil
    archivado=false
    if modelo != nil
      archivado = modelo.mostrar_archivados
    else
      Configuracione.create(:user_id=>current_user.id,:mostrar_archivados=>false)
    end 
%>


                  <%valor =true%>
                  <div class="tabbable nav-tabs">
                      <ul class="nav nav-tabs" id="myTaba4">
                        <%Sede.all.each do |sede|%>
                            <li class="<%if valor %>active<%end%>"><a href="#sede<%=sede.id%>" data-toggle="tab"><%=sede.nombre%> (<%=
ApplicationController.getCountBySedeItems(sede.id,archivado,items)%>)</a></li>
                            <%if valor%>
                                <%valor = false%>
                            <%end%>
                        <%end%>
                      </ul>
                      <%valor =true%>

                      <div class="tab-content">
                        <%Sede.all.each do |sede|%>
                        <%valor1=true%>
                               <div class="tab-pane <%if valor %>active<%end%>" id="sede<%=sede.id%>">
                                  
                                      <div class="tabbable nav-tabs">
                                          <ul class="nav nav-tabs" id="myTaba3">
                                            <%User.where(:sede_id=>sede.id).each do |users|%>
<div id="links2" style="display: none;">
  <%idss= "yourLinkIDx".to_s + users.id.to_s%>
  <%= link_to "Cargar Estadisticas", fetch_chart_sede_usuario_hijo_path(:user_id =>users.id, :user_role=>users.role, :user_sede=>users.sede.id,:archivado=>archivado), :remote => true, :id=>idss %>
</div>          
                                              <li class="<%if valor1 %>active<%end%>"><a href="#suserxx<%=users.id%>" data-toggle="tab" onClick="document.getElementById('<%=idss%>').click();"><%=users.username%> (<%=ApplicationController.getCountByUserItems(users.id,archivado,items)%>)</a></li>
                                                
                <%if valor1%>
                <script>document.getElementById('<%=idss%>').click();</script>
                <%end%>
                                                <%if valor1%>
                                                    <%valor1 = false%>
                                                <%end%>
                                            <%end%>
                                          </ul>

                                          <%valor1 =true%>

                                          <div class="tab-content">
                                            <%User.where(:sede_id=>sede.id).each do |users|%>                                            
                                                <div class="tab-pane <%if valor1 %>active<%end%>" id="suserxx<%=users.id%>">
                                                  <div id="suserx<%=users.id%>">
                                                    
                                                  </div>
                                                </div>                                            
                                                <%if valor1%>
                                                    <%valor1 = false%>         
                                                <%end%>
                                            <%end%>
                                          </div>
                                      </div>                
                                </div>                        
                            
                            <%if valor%>
                                <%valor = false%>       
                            <%end%>
                        <%end%>
                      </div>
                  </div>
                  <br/>