                    <%@programas = Programa.all
valor= true


        rol = Role.where(:id=>usuario.role).first

%>


<%

 modelo = Configuracione.where(:user_id=>current_user.id).first rescue nil
    archivado=false
    if modelo != nil
      archivado = modelo.mostrar_archivados
    else
      Configuracione.create(:user_id=>current_user.id,:mostrar_archivados=>false)
    end 
%>
<%
@prospectosnovalidados = items.where(:archivado=>archivado).where(:validado=>false).where(:issolicitante=>false)
@prospectosvalidados=items.where(:archivado=>archivado).where(:validado=>true).where(:issolicitante=>false)
%>
<%
solicitantes1 = items.joins{solicitante}.where{solicitantes.archivado==archivado}.where{solicitante.isexaminado==false}.where(:archivado=>archivado)
examinados1 = items.joins{solicitante.examinado}.where{examinados.archivado==archivado}.where{solicitantes.archivado==archivado}.where{examinados.isadmitido==false}.where(:archivado=>archivado)
admitidos1 = items.joins{solicitante.examinado.admitido}.where{admitidos.archivado==archivado}.where{examinados.archivado==archivado}.where{solicitantes.archivado==archivado}.where{admitidos.isinscrito==false}.where(:archivado=>archivado)
inscritos1 = items.joins{solicitante.examinado.admitido.inscrito}.where{inscritos.archivado == archivado}.where{admitidos.archivado==archivado}.where{examinados.archivado==archivado}.where{solicitantes.archivado==archivado}.where(:archivado=>archivado)

%>


                  <%valor =true
valor1 =true
                  %>




   <div class="tabbable tabs-left">
                <ul class="nav nav-tabs" id="myTaba3">
                  <%User.where(:sede_id=>current_user.sede_id).each do |user|%>
                      <li class=" <%if valor1 %>active<%end%>"><a href="#suser<%=user.id%>" data-toggle="tab"><%=user.username%> (<%=ApplicationController.getCountByUser(user.id,archivado,@prospectosvalidados,@prospectosnovalidados,solicitantes1,examinados1,admitidos1,inscritos1)%>)</a></li>
                      <%if valor1%>
                          <%valor1 = false%>
                      <%end%>
                  <%end%>
                </ul>
                <%valor1 =true%>

                <div class="tab-content">
                  <%User.where(:sede_id=>current_user.sede_id).each do |user|%>
<%
@prospectosnovalidados = items.where(:user_id=>user.id).where(:validado=>false).where(:issolicitante=>false)
@prospectosvalidados=items.where(:user_id=>user.id).where(:validado=>true).where(:issolicitante=>false)
%>                  
                      <div class="tab-pane <%if valor1 %>active<%end%>" id="suser<%=user.id%>">
                          <h1><small><%=user.username%></small></h1>

<div class="tabbable tabs-left">

    <ul class="nav nav-tabs" id="myTaba">
      <%@programas.each do |programa|%>
                     <div id="links2" style="display: none;">
  <%idss= "yourLinkIDxsa".to_s + programa.id.to_s + user.id.to_s + user.sede.id.to_s %>
  <%= link_to "Cargar Estadisticas", fetch_chart_anios_path(:user_id =>user.id, :user_role=>user.role, :user_sede=>user.sede.id,:archivado=>archivado,:programa_id=>programa.id, :usuario_id=>user.id,:usuario_sede_id=>user.sede.id), :remote => true, :id=>idss %>
</div>  
          <li class="<%if valor %>active<%end%>"><a href="#<%=user.id%><%=programa.id%>" data-toggle="tab"  onClick="document.getElementById('<%=idss%>').click();"><%=programa.nivel rescue ""%> - <%=programa.programa%> (<%=ApplicationController.getCountByPrograma(programa.id,user.id,archivado,@prospectosvalidados,@prospectosnovalidados,solicitantes1,examinados1,admitidos1,inscritos1)%>)</a></li>      
          <%if valor%>
              <%valor = false%>
          <%end%>
      <%end%>
                      <div id="links2" style="display: none;">
  <%idss= "yourLinkIDxsa".to_s + "nil" + user.id.to_s + user.sede.id.to_s %>
  <%= link_to "Cargar Estadisticas", fetch_chart_anios_path(:user_id =>user.id, :user_role=>user.role, :user_sede=>user.sede.id,:archivado=>archivado,:programa_id=>nil, :usuario_id=>user.id,:usuario_sede_id=>user.sede.id), :remote => true, :id=>idss %>
</div>     
      <li class="<%if valor %>active<%end%>"><a href="#<%=user.id%>nil" data-toggle="tab" onClick="document.getElementById('<%=idss%>').click();">Sin Programa (<%=ApplicationController.getCountByPrograma(nil,user.id,archivado,@prospectosvalidados,@prospectosnovalidados,solicitantes1,examinados1,admitidos1,inscritos1)%>)</a></li>  
    </ul>
    <%valor =true%>
<%
periodoss = Hash.new

          limit = 11;
          for counter in 0..limit
            currAnio = 2016 + counter
            currAnio = currAnio -2000
            periodoss[currAnio + 2000] = PeriodoParaIngresar.find(:all, :conditions => ["valor LIKE ?", "%#{currAnio}"]).map{|a| a.id}
           end

%>


    <div class="tab-content">
      <%@programas.each do |programa|%>
          <div class="tab-pane <%if valor %>active<%end%>" id="<%=user.id%><%=programa.id%>">
            
            <%= render partial: 'links', locals: { programaid: programa.id, usuarioid: user.id, prospectoscount: ApplicationController.getProspectoCountByPrograma(programa.id,user.id,archivado,@prospectosvalidados,@prospectosnovalidados), solicitantescount: ApplicationController.getOtherCountByPrograma(programa.id,user.id,archivado,solicitantes1),examinadoscount: ApplicationController.getOtherCountByPrograma(programa.id,user.id,archivado,examinados1), admitidoscount:  ApplicationController.getOtherCountByPrograma(programa.id,user.id,archivado,admitidos1),inscritoscount:  ApplicationController.getOtherCountByPrograma(programa.id,user.id,archivado,inscritos1)} %>
               

   

<div id="yearssperiodocontent<%=programa.id%><%=user.id%><%=user.sede.id%>">
</div>

                <%if valor%>
                <script>document.getElementById('<%=idss%>').click();</script>
                <%end%>

              </div>      
          <%if valor%>
              <%valor = false%>
          <%end%>      
        
      <%end%>

<div class="tab-pane <%if valor %>active<%end%>" id="<%=user.id%>nil">
  <%= render partial: 'links', locals: { programaid: nil, usuarioid: user.id, prospectoscount: ApplicationController.getProspectoCountByPrograma(nil,user.id,archivado,@prospectosvalidados,@prospectosnovalidados), solicitantescount: ApplicationController.getOtherCountByPrograma(nil,user.id,archivado,solicitantes1),examinadoscount: ApplicationController.getOtherCountByPrograma(nil,user.id,archivado,examinados1), admitidoscount:  ApplicationController.getOtherCountByPrograma(nil,user.id,archivado,admitidos1),inscritoscount:  ApplicationController.getOtherCountByPrograma(nil,user.id,archivado,inscritos1)} %>
                




<div id="yearssperiodocontent<%=user.id%><%=user.sede.id%>">
</div>

           
              </div> 


      </div>
    </div>



                      </div>
                      <%if valor1%>
                          <%valor1 = false%>
                      <%end%>
                  <%end%>
                </div>
            </div> 
