<a target="_blank" href="/prospectos?utf8=✓&amp;q[c][0][a][0][name]=programa_id&amp;q[c][0][p]=eq&amp;q[c][0][v][0][value]=<%=programaid%>&amp;q[c][1504415327283][a][0][name]=user_id&amp;q[c][1504415327283][p]=eq&amp;q[c][1504415327283][v][0][value]=<%=usuarioid%>&amp;commit=Buscar"> Link a Prospectos (<%=prospectoscount%>)</a>
<br/>
<a target="_blank" href="/solicitantes?utf8=✓&amp;q[c][1504447166447][a][0][name]=prospectos_programa_id&amp;q[c][1504447166447][p]=eq&amp;q[c][1504447166447][v][0][value]=<%=programaid%>&amp;q[c][1504447174659][a][0][name]=prospectos_user_id&amp;q[c][1504447174659][p]=eq&amp;q[c][1504447174659][v][0][value]=<%=usuarioid%>&amp;commit=Buscar"> Link a Solicitantes (<%=solicitantescount%>)</a>
<br/>
<a target="_blank" href="/examinados?utf8=✓&amp;q[c][0][a][0][name]=solicitantes_prospectos_programa_id&amp;q[c][0][p]=eq&amp;q[c][0][v][0][value]=<%=programaid%>&amp;q[c][1504456614017][a][0][name]=solicitantes_prospectos_user_id&amp;q[c][1504456614017][p]=eq&amp;q[c][1504456614017][v][0][value]=<%=usuarioid%>&amp;commit=Buscar"> Link a Examinados (<%=examinadoscount%>)</a>
<br/>
<a target="_blank" href="/admitidos?utf8=✓&amp;q[c][0][a][0][name]=examinados_solicitantes_prospectos_programa_id&amp;q[c][0][p]=eq&amp;q[c][0][v][0][value]=<%=programaid%>&amp;q[c][1504456614017][a][0][name]=examinados_solicitantes_prospectos_user_id&amp;q[c][1504456614017][p]=eq&amp;q[c][1504456614017][v][0][value]=<%=usuarioid%>&amp;commit=Buscar"> Link a Admitidos (<%=admitidoscount%>)</a>
<br/>
<a target="_blank" href="/inscritos?utf8=✓&amp;q[c][0][a][0][name]=admitidos_examinados_solicitantes_prospectos_programa_id&amp;q[c][0][p]=eq&amp;q[c][0][v][0][value]=<%=programaid%>&amp;q[c][1504456614017][a][0][name]=admitidos_examinados_solicitantes_prospectos_user_id&amp;q[c][1504456614017][p]=eq&amp;q[c][1504456614017][v][0][value]=<%=usuarioid%>&amp;commit=Buscar"> Link a Inscritos (<%=inscritoscount%>)</a>
<br/>
