<%
    modelo = Configuracione.where(:user_id=>current_user.id).first rescue nil
    archivado=false
    if modelo != nil
      archivado = modelo.mostrar_archivados
    else
      Configuracione.create(:user_id=>current_user.id,:mostrar_archivados=>false)
    end  
%>
  <div class="row-fluid">
    <div class="span9">
      <div class="page-header hidden-phone hidden-tablet">
        <h1>Bienvenid@ <%=current_user.username%>!<small>Selecciona alguna de las opciones para ver mas informacion.</small></h1>
      </div>
    </div>
    <div class="span3">
      <a class="printbox">
        <img src="/images/ijpii.png" alt="Logo" style="width:400px;height:150px;">
      </a>
    </div>
  </div>


<%rolx = Role.where(:id=>current_user.role).first.nombre%>

<ul id="tab" class="nav nav-tabs">
  <li class="<%if rolx == "ACRM" or rolx == "DN"%><%else%>active<%end%>"><a href="#principal" data-toggle="tab">Principal</a></li>
  <li><a href="#metricas" data-toggle="tab">Cono de Ventas</a></li>
  <li class="<%if rolx == "ACRM" or rolx == "DN"%>active<%end%>"><a href="#campanas" data-toggle="tab">Estadísticas</a></li>
  <li class=""><a href="#busqueda" data-toggle="tab">Busqueda global</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in container-fluid" id="busqueda">
      <a href="#a" data-toggle="tab" onClick="document.getElementById('busquedacool').src = '/fetch_search';">Borrar parametros de busqueda</a><br/>
<iframe src="<%= fetch_search_path %>" frameborder="0" style="overflow: hidden; position: absolute;" height="100%" width="100%" id="busquedacool" class="span9">


</iframe> 
    </div>
    <div class="<%if rolx == "ACRM" or rolx == "DN"%> tab-pane fade <%else%>container-fluid tab-pane fade in active<%end%>" id="principal">


        
              <div id="links2" style="display: block;">
  <%idss= "mispend"%>
  <%= link_to "Recargar pendientes", fetch_pendientes_path, :remote => true, :id=>idss %>
</div>    

        <div id="mispendientes">

        </div>
          <script>document.getElementById('<%=idss%>').click();</script>


        <!-- Example row of columns -->
        <div class="row-fluid">
          <div class="span4">
            <div class="thumbnail">
              <h2>Prospectos</h2>
              <p>     <%if @prospectosnovalidados != nil%>
                Tienes <%=@prospectosnovalidados.size%> Prospectos no validados. <br/>
                       <table class="table table-striped table-bordered table-condensed table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @prospectosnovalidados.each do |prospecto| %>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"prospectos").where(:model_id=>prospecto.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"prospectos").where(:model_id=>prospecto.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>  
                            <%tareas = Memo.where(:model_name=>"prospectos").where(:model_id=>prospecto.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>
                            <tr class="<%=tareastatus%>">
                              <td><%= link_to prospecto.nombre, prospecto_path(prospecto) %></td>
                              <td><%= link_to prospecto.apellido_paterno, prospecto_path(prospecto) %></td>
                              <td>
                              <%if tareastatus != ""%>
                                <%= link_to '<i class="icon-info-sign"></i>'.html_safe, edit_prospecto_path(prospecto,:anchor=>"tareas"),:rel=>"tooltip","data-original-title"=>"Acciones Pendientes",:class=>'btn btn-warning btn-mini zero2'%>
                              <%end%>                                
                                <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_prospecto_path(prospecto),:rel=>"tooltip","data-original-title"=>"Editar", :class => 'btn btn-mini zero2' %>
                                <%= link_to '<i class="icon-list-alt"></i>'.html_safe, resumen_path(prospecto),:rel=>"tooltip","data-original-title"=>"Resumen",:class=>'btn btn-success btn-mini zero2'%>
                              <a href="#" class='btn btn-info btn-mini zero2' rel="tooltip" data-original-title="Imprimir" onclick="javascript:openPrint('prospectos','<%=prospecto.id%>')"><i class="icon-print"></i>
                              </a>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>       
                <%end%> </p>
                <p>
                  <p><%=link_to 'Ver Mas &raquo;'.html_safe, prospectos_path(:validado=>false),:class=>"btn"%></p>
                <%if @prospectosvalidados != nil%>
                Tienes <%=@prospectosvalidados.size%> Prospectos validados.<br/>
                       <table class="table table-striped table-bordered table-condensed table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @prospectosvalidados.each do |prospecto| %>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"prospectos").where(:model_id=>prospecto.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"prospectos").where(:model_id=>prospecto.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"prospectos").where(:model_id=>prospecto.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>                            
                            <tr class="<%=tareastatus%>">
                              <td><%= link_to prospecto.nombre, prospecto_path(prospecto) %></td>
                              <td><%= link_to prospecto.apellido_paterno, prospecto_path(prospecto) %></td>
                              <td>
                              <%if tareastatus != ""%>
                                <%= link_to '<i class="icon-info-sign"></i>'.html_safe, edit_prospecto_path(prospecto,:anchor=>"tareas"),:rel=>"tooltip","data-original-title"=>"Acciones Pendientes",:class=>'btn btn-warning btn-mini zero2'%>
                              <%end%>                                
                                <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_prospecto_path(prospecto),:rel=>"tooltip","data-original-title"=>"Editar", :class => 'btn btn-mini zero2' %>
                                <%= link_to '<i class="icon-list-alt"></i>'.html_safe, resumen_path(prospecto),:rel=>"tooltip","data-original-title"=>"Resumen",:class=>'btn btn-success btn-mini zero2'%>
                              <a href="#" class='btn btn-info btn-mini zero2' rel="tooltip" data-original-title="Imprimir" onclick="javascript:openPrint('prospectos','<%=prospecto.id%>')"><i class="icon-print"></i>
                              </a>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>             
                <%end%>
                </p>
              <p><%=link_to 'Ver Mas &raquo;'.html_safe, prospectos_path(:validado=>true),:class=>"btn"%></p>
            </div>
          </div>
          <div class="span4">
            <div class="thumbnail">
              <h2>Solicitantes</h2>
               <p>     <%if @solicitantes != nil%>
                Tienes <%=@solicitantes.size%> Solicitantes.
                <table class="table table-striped table-bordered table-condensed table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido Paterno</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @solicitantes.each do |solicitante| %>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"solicitantes").where(:model_id=>solicitante.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"solicitantes").where(:model_id=>solicitante.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"solicitantes").where(:model_id=>solicitante.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>                                 
                            <tr class="<%=tareastatus%>">
                              <%logger.debug "here!!!!!!!!!!!!!!!!!!!!!!1111111"%>
                            <%logger.debug solicitante.prospectos.first%>
                        <td><%= link_to solicitante.prospectos.first.nombre, solicitante_path(solicitante) %></td>
                        <td><%= link_to solicitante.prospectos.first.apellido_paterno, solicitante_path(solicitante) %></td>
                        <td>
                        <%if tareastatus != ""%>
                          <%= link_to '<i class="icon-info-sign"></i>'.html_safe, edit_solicitante_path(solicitante,:anchor=>"tareas"),:rel=>"tooltip","data-original-title"=>"Acciones Pendientes",:class=>'btn btn-warning btn-mini zero2'%>
                        <%end%>                            
                        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_solicitante_path(solicitante),:rel=>"tooltip","data-original-title"=>"Editar", :class => 'btn btn-mini zero2' %>
                        <%= link_to '<i class="icon-plus"></i>'.html_safe, solicitante_path(solicitante),:rel=>"tooltip","data-original-title"=>"Mostrar", :class => 'btn btn-mini zero2' %>                      
                        <%= link_to '<i class="icon-list-alt"></i>'.html_safe, resumen_path(solicitante.prospectos.first.id),:rel=>"tooltip","data-original-title"=>"Resumen",:class=>'btn btn-success btn-mini zero2'%>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>              
                <%end%>  </p>
              <p><%=link_to 'Ver Mas &raquo;'.html_safe, solicitantes_path,:class=>"btn"%></p>
            </div>
         </div>
         <div class="span4">
            <div class="thumbnail">
              <h2>Examinados</h2>
               <p>     <%if @examinados != nil%>
                Tienes <%=@examinados.size%> Examinados.
                <table class="table table-striped table-bordered table-condensed table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido paterno</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @examinados.each do |examinado| %>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"examinados").where(:model_id=>examinado.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"examinados").where(:model_id=>examinado.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"examinados").where(:model_id=>examinado.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>                                  
                            <tr class="<%=tareastatus%>">
                        <td><%= link_to examinado.solicitantes.first.prospectos.first.nombre, examinado_path(examinado) %></td>
                        <td><%= link_to examinado.solicitantes.first.prospectos.first.apellido_paterno, examinado_path(examinado) %></td>                        
                        <td>
                        <%if tareastatus != ""%>
                          <%= link_to '<i class="icon-info-sign"></i>'.html_safe, edit_examinado_path(examinado,:anchor=>"tareas"),:rel=>"tooltip","data-original-title"=>"Acciones Pendientes",:class=>'btn btn-warning btn-mini zero2'%>
                        <%end%>                            
                          <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_examinado_path(examinado),:rel=>"tooltip","data-original-title"=>"Editar", :class => 'btn btn-mini zero2' %>
                        <%= link_to '<i class="icon-plus"></i>'.html_safe, examinado_path(examinado),:rel=>"tooltip","data-original-title"=>"Mostrar", :class => 'btn btn-mini zero2' %>                      
                        <%= link_to '<i class="icon-list-alt"></i>'.html_safe, resumen_path(examinado.solicitantes.first.prospectos.first.id),:rel=>"tooltip","data-original-title"=>"Resumen",:class=>'btn btn-success btn-mini zero2'%>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>            
                <%end%>  </p>
              <p><%=link_to 'Ver Mas &raquo;'.html_safe, examinados_path,:class=>"btn"%></p>
            </div> 
         </div>       
        </div>
        <hr>
        <div class="row-fluid">
          <div class="span4">
           <div class="thumbnail">
              <h2>Admitidos</h2>
              <p>     <%if @admitidos != nil%>
                Tienes <%=@admitidos.size%> Admitidos. <br/>
                <table class="table table-striped table-bordered table-condensed table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Status</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @admitidos.each do |admitido| %>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"admitidos").where(:model_id=>admitido.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"admitidos").where(:model_id=>admitido.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"examinados").where(:model_id=>admitido.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>                                   
                            <tr class="<%=tareastatus%>">
                        <td><%= link_to "#{admitido.examinados.first.solicitantes.first.prospectos.first.nombre} #{admitido.examinados.first.solicitantes.first.prospectos.first.apellido_paterno}", admitido_path(admitido) %></td>
                        <td><%= link_to admitido.status_de_admision.valor, admitido_path(admitido) rescue nil %></td>                
                        <td>
                        <%if tareastatus != ""%>
                          <%= link_to '<i class="icon-info-sign"></i>'.html_safe, edit_admitido_path(admitido,:anchor=>"tareas"),:rel=>"tooltip","data-original-title"=>"Acciones Pendientes",:class=>'btn btn-warning btn-mini zero2'%>
                        <%end%>                             
                        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_admitido_path(admitido),:rel=>"tooltip","data-original-title"=>"Editar", :class => 'btn btn-mini zero2' %>
                        <%= link_to '<i class="icon-plus"></i>'.html_safe, solicitante_path(admitido),:rel=>"tooltip","data-original-title"=>"Mostrar", :class => 'btn btn-mini zero2' %>                      
                        <%= link_to '<i class="icon-list-alt"></i>'.html_safe, resumen_path(admitido.examinados.first.solicitantes.first.prospectos.first.id),:rel=>"tooltip","data-original-title"=>"Resumen",:class=>'btn btn-success btn-mini zero2'%>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
               <%end%> </p>
              <p><%=link_to 'Ver Mas &raquo;'.html_safe, admitidos_path,:class=>"btn"%></p>
            </div>            
          </div>
          <div class="span4">
            <div class="thumbnail">
              <h2>Inscritos</h2>
              <p>     <%if @inscritos != nil%>
                Tienes <%=@inscritos.size%> Inscritos.
                <table class="table table-striped table-bordered table-condensed table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido Paterno</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @inscritos.each do |inscrito| %>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"inscritos").where(:model_id=>inscrito.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"inscritos").where(:model_id=>inscrito.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"examinados").where(:model_id=>inscrito.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>                               
                            <tr class="<%=tareastatus%>">
                        <td><%= link_to inscrito.admitidos.first.examinados.first.solicitantes.first.prospectos.first.nombre, inscrito_path(inscrito) %></td>
                        <td><%= link_to inscrito.admitidos.first.examinados.first.solicitantes.first.prospectos.first.apellido_paterno, inscrito_path(inscrito) %></td>        
                        <td>
                        <%if tareastatus != ""%>
                          <%= link_to '<i class="icon-info-sign"></i>'.html_safe, edit_inscrito_path(inscrito,:anchor=>"tareas"),:rel=>"tooltip","data-original-title"=>"Acciones Pendientes",:class=>'btn btn-warning btn-mini zero2'%>
                        <%end%>                            
                        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_inscrito_path(inscrito),:rel=>"tooltip","data-original-title"=>"Editar", :class => 'btn btn-mini zero2' %>
                        <%= link_to '<i class="icon-plus"></i>'.html_safe, inscrito_path(inscrito),:rel=>"tooltip","data-original-title"=>"Mostrar", :class => 'btn btn-mini zero2' %>                      
                        <%= link_to '<i class="icon-list-alt"></i>'.html_safe, resumen_path(inscrito.admitidos.first.examinados.first.solicitantes.first.prospectos.first.id),:rel=>"tooltip","data-original-title"=>"Resumen",:class=>'btn btn-success btn-mini zero2'%>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>                
                <%end%> </p>
              <p><%=link_to 'Ver Mas &raquo;'.html_safe, inscritos_path,:class=>"btn"%></p>
            </div>              
          </div>
          <div class="span4">
          </div>                    
        </div>

        <hr>        
        <br/><br/><br/>
    </div>
    <div class="tab-pane fade" id="metricas">
      <div class="well">
<p><h4>Prospectos No Validados</h4></p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Materno</th>
      <th>Apellido Paterno</th>
      <th>Programa</th>          
      <th>Run!</th>
    </tr>
  </thead>
  <tbody> 
    <%if @prospectosnovalidados != nil %>
   <% @prospectosnovalidados.each do |prospectonovalidado| %>                                         
      <tr>
        <td><%=prospectonovalidado.nombre%></td>
        <td><%=prospectonovalidado.apellido_paterno%></td>
        <td><%=prospectonovalidado.apellido_materno%></td>
        <td><%=prospectonovalidado.programa.nivel rescue nil%> - <%=prospectonovalidado.programa.programa rescue nil%></td>                        
        <td>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"prospectos").where(:model_id=>prospectonovalidado.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"prospectos").where(:model_id=>prospectonovalidado.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>  
                            <%tareas = Memo.where(:model_name=>"prospectos").where(:model_id=>prospectonovalidado.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>
        <%if tareastatus != ""%>
          <%= link_to '<i class="icon-info-sign"></i> Acciones Pendientes'.html_safe, prospecto_path(prospectonovalidado),:class=>'btn btn-warning btn-mini zero2'%>
        <%end%>                                       
          <%= link_to 'Go', prospecto_path(prospectonovalidado), :class => 'btn btn-mini btn-info' %>
        </td>
      </tr>
   <%end%>
      <tr>
        <td>Todos</td>
        <td>
          <%= link_to 'Go', prospectos_path(:validado=>false), :class => 'btn btn-mini btn-success' %>
        </td>
      </tr>  
    <%end%> 
  </tbody>
</table>
</div>
<div class="well">
<hr/>
<p><h4>Prospectos Validados</h4></p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>      
      <th>Apellido Materno</th>
      <th>Programa</th>          
      <th>Run!</th>
    </tr>
  </thead>
  <tbody>      
  <%if @prospectosvalidados != nil %>                                    
   <% @prospectosvalidados.each do |prospectosvalidado| %>                                         
      <tr>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"prospectos").where(:model_id=>prospectosvalidado.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"prospectos").where(:model_id=>prospectosvalidado.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>  
                            <%tareas = Memo.where(:model_name=>"prospectos").where(:model_id=>prospectosvalidado.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>   
        <td><%=prospectosvalidado.nombre%></td>
        <td><%=prospectosvalidado.apellido_paterno%></td>
        <td><%=prospectosvalidado.apellido_materno%></td>
        <td><%=prospectosvalidado.programa.nivel rescue nil%> - <%=prospectosvalidado.programa.programa rescue nil%></td>           
        <td>
        <%if tareastatus != ""%>
          <%= link_to '<i class="icon-info-sign"></i> Acciones Pendientes'.html_safe, prospecto_path(prospectosvalidado),:class=>'btn btn-warning btn-mini zero2'%>
        <%end%>             
          <%= link_to 'Go', prospecto_path(prospectosvalidado), :class => 'btn btn-mini btn-info' %>
        </td>
      </tr>
   <%end%>
      <tr>
        <td>Todos</td>
        <td>
          <%= link_to 'Go', prospectos_path(:validado=>true), :class => 'btn btn-mini btn-success' %>
        </td>
      </tr> 
      <%end%>   
  </tbody>
</table>
</div>
<hr/>
<div class="well">
<p><h4>Solicitantes</h4></p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>      
      <th>Apellido Materno</th>
      <th>Programa</th>   
      <th>Run!</th>
    </tr>
  </thead>
  <tbody>   
  <%if @solicitantes != nil %>                                            
   <% @solicitantes.each do |solicitante| %>                                         
      <tr>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"solicitantes").where(:model_id=>solicitante.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"solicitantes").where(:model_id=>solicitante.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"solicitantes").where(:model_id=>solicitante.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>          
        <td><%=solicitante.prospectos.first.nombre%></td>
        <td><%=solicitante.prospectos.first.apellido_paterno%></td>
        <td><%=solicitante.prospectos.first.apellido_materno%></td>
        <td><%=solicitante.prospectos.first.programa.nivel rescue nil%> - <%=solicitante.prospectos.first.programa.programa rescue nil%></td>                        
        <td>
        <%if tareastatus != ""%>
          <%= link_to '<i class="icon-info-sign"></i> Acciones Pendientes'.html_safe, solicitante_path(solicitante),:class=>'btn btn-warning btn-mini zero2'%>
        <%end%>            
          <%= link_to 'Go', solicitante_path(solicitante), :class => 'btn btn-mini btn-info' %>
        </td>
      </tr>
   <%end%>
      <tr>
        <td>Todos</td>
        <td>
          <%= link_to 'Go', solicitantes_path, :class => 'btn btn-mini btn-success' %>
        </td>
      </tr>
    <%end%>   
  </tbody>
</table>
</div>
<hr/>
<div class="well">
<p><h4>Examinados</h4></p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>      
      <th>Apellido Materno</th>
      <th>Programa</th>   
      <th>Run!</th>
    </tr>
  </thead>
  <tbody>       
  <%if @examinados != nil %>                                      
   <% @examinados.each do |examinado| %>                                         
      <tr>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"examinados").where(:model_id=>examinado.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"examinados").where(:model_id=>examinado.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"examinados").where(:model_id=>examinado.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>          
        <td><%=examinado.solicitantes.first.prospectos.first.nombre%></td>
        <td><%=examinado.solicitantes.first.prospectos.first.apellido_paterno%></td>  
        <td><%=examinado.solicitantes.first.prospectos.first.apellido_materno%></td>        
        <td><%=examinado.solicitantes.first.prospectos.first.programa.nivel rescue nil%> - <%=examinado.solicitantes.first.prospectos.first.programa.programa rescue nil%></td>  
        <td>
        <%if tareastatus != ""%>
          <%= link_to '<i class="icon-info-sign"></i> Acciones Pendientes'.html_safe, examinado_path(examinado),:class=>'btn btn-warning btn-mini zero2'%>
        <%end%>           
          <%= link_to 'Go', examinado_path(examinado), :class => 'btn btn-mini btn-info' %>
        </td>
      </tr>
   <%end%>
      <tr>
        <td>Todos</td>
        <td>
          <%= link_to 'Go', examinados_path, :class => 'btn btn-mini btn-success' %>
        </td>
      </tr> 
    <%end%>  
  </tbody>
</table>
</div>
<hr/>
<div class="well">
<p><h4>Admitidos</h4></p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>      
      <th>Apellido Materno</th>
      <th>Programa</th>   
      <th>Run!</th>
    </tr>
  </thead>
  <tbody>   
  <%if @admitidos != nil %>                                        
   <% @admitidos.each do |admitido| %>                                         
      <tr>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"admitidos").where(:model_id=>admitido.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"admitidos").where(:model_id=>admitido.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"examinados").where(:model_id=>admitido.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>            
        <td><%=admitido.examinados.first.solicitantes.first.prospectos.first.nombre%></td>
        <td><%=admitido.examinados.first.solicitantes.first.prospectos.first.apellido_paterno%></td>
        <td><%=admitido.examinados.first.solicitantes.first.prospectos.first.apellido_materno%></td>
        <td><%=admitido.examinados.first.solicitantes.first.prospectos.first.programa.nivel rescue nil%> - <%=admitido.examinados.first.solicitantes.first.prospectos.first.programa.programa rescue nil%></td>
        <td>
        <%if tareastatus != ""%>
          <%= link_to '<i class="icon-info-sign"></i> Acciones Pendientes'.html_safe, admitido_path(admitido),:class=>'btn btn-warning btn-mini zero2'%>
        <%end%>             
          <%= link_to 'Go', admitido_path(admitido), :class => 'btn btn-mini btn-info' %>
        </td>
      </tr>
   <%end%>
      <tr>
        <td>Todos</td>
        <td>
          <%= link_to 'Go', admitidos_path, :class => 'btn btn-mini btn-success' %>
        </td>
      </tr>  
    <%end%> 
  </tbody>
</table>
</div>
<hr/>
<div class="well">
<p><h4>Inscritos</h4></p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>      
      <th>Apellido Materno</th>
      <th>Programa</th>   
      <th>Run!</th>
    </tr>
  </thead>
  <tbody>    
  <%if @inscritos != nil %>                                          
   <% @inscritos.each do |inscrito| %>                                         
      <tr>
                          <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"inscritos").where(:model_id=>inscrito.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"inscritos").where(:model_id=>inscrito.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"examinados").where(:model_id=>inscrito.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>           
        <td><%=inscrito.admitidos.first.examinados.first.solicitantes.first.prospectos.first.nombre%></td>
        <td><%=inscrito.admitidos.first.examinados.first.solicitantes.first.prospectos.first.apellido_paterno%></td>
        <td><%=inscrito.admitidos.first.examinados.first.solicitantes.first.prospectos.first.apellido_materno%></td>
        <td><%=inscrito.admitidos.first.examinados.first.solicitantes.first.prospectos.first.programa.nivel rescue nil%> - <%=inscrito.admitidos.first.examinados.first.solicitantes.first.prospectos.first.programa.programa rescue nil%></td>
        <td>
        <%if tareastatus != ""%>
          <%= link_to '<i class="icon-info-sign"></i> Acciones Pendientes'.html_safe, inscrito_path(inscrito),:class=>'btn btn-warning btn-mini zero2'%>
        <%end%>            
          <%= link_to 'Go', inscrito_path(inscrito), :class => 'btn btn-mini btn-info' %>
        </td>
      </tr>
   <%end%>
      <tr>
        <td>Todos</td>
        <td>
          <%= link_to 'Go', inscritos_path, :class => 'btn btn-mini btn-success' %>
        </td>
      </tr> 
    <%end%>  
  </tbody>
</table>
</div>
      <hr/>

    </div>
    <div class="<%if rolx == "ACRM" or rolx == "DN"%>container-fluid tab-pane fade in active <%else%> tab-pane fade <%end%>" id="campanas">
      <div class="">

        <%

        

        rol = Role.where(:id=>current_user.role).first

        if rol.nombre == "ACRM"  
          one = ApplicationController.getProspectosForUser2(current_user)
          prospectos123 = one.where{created_at != nil}
          prospectoultimomes = one.where{created_at >= 1.month.ago}
          prospectoultimoscincodias = one.where{created_at>=5.days.ago}
          prospectohoy = one.where{created_at>=DateTime.now.beginning_of_day}
        else

          one = ApplicationController.getProspectosForUser2(current_user)

          prospectos123 = one.where{created_at != nil}
          prospectoultimomes = one.where{created_at >= 1.month.ago}
          prospectoultimoscincodias = one.where{created_at>=5.days.ago}
          prospectohoy = one.where{created_at>=DateTime.now.beginning_of_day}         
        end

          prospectos123V = prospectos123.where(:validado=>true)
          prospectoultimomesV = prospectoultimomes.where(:validado=>true)
          prospectoultimoscincodiasV = prospectoultimoscincodias.where(:validado=>true)
          prospectohoyV = prospectohoy.where(:validado=>true)


    modelo = Configuracione.where(:user_id=>current_user.id).first rescue nil
    archivado=false
    if modelo != nil
      archivado = modelo.mostrar_archivados
    else
      Configuracione.create(:user_id=>current_user.id,:mostrar_archivados=>false)
    end 
    
        %>
<%
items = ApplicationController.getProspectosForUser2Includes(current_user).where(:archivado=>archivado)

%>


<div id="links" style="display: none;">

<%= link_to "Cargar Estadisticas", fetch_dyna_path(:user_id =>current_user.id, :user_role=>current_user.role, :user_sede=>current_user.sede.id,:archivado=>archivado), :remote => true, :id=>"yourLinkID" %>

<%= link_to "Cargar Chart", fetch_chart_path(:user_id =>current_user.id, :user_role=>current_user.role, :user_sede=>current_user.sede.id,:archivado=>archivado), :remote => true, :id=>"yourLinkID2" %>


<%        rol = Role.where(:id=>current_user.role).first
users = nil
whattodo = "currentuser"


        if rol.nombre == "DN" or rol.nombre == "ACRM"  
          whattodo = "main"
%>
<%= link_to "Cargar Chart Sede", fetch_chart_sede_usuario_path, :remote => true, :id=>"yourLinkID3" %>

<%
          #do by sede, then user
        elsif rol.nombre == "D" or rol.nombre == "CP"
          whattodo="sede"
          valor1=true
%>
     <%= link_to "Cargar Chart Usuario", fetch_chart_sede_path(:user_id =>current_user.id, :user_role=>current_user.role, :user_sede=>current_user.sede.id,:archivado=>archivado), :remote => true, :id=>"yourLinkID3" %>
              
<%end%>
</div>



<ul class="nav nav-tabs" id="myTab2" role="tablist">
 
  <li class="nav-item active">
    <a class="nav-link" id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2" onClick="document.getElementById('yourLinkID').click();">Estadisticas</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-expanded="true" onClick="document.getElementById('yourLinkID2').click();">Mis Prospectos</a>
  </li>
  <%
 if rol.nombre == "DN" or rol.nombre == "ACRM"  or rol.nombre =="D" or rol.nombre == "CP"
  %>

 <li class="nav-item">
    <a class="nav-link" id="misp-tab" data-toggle="tab" href="#misp" role="tab" aria-controls="misp" aria-expanded="true" onClick="document.getElementById('yourLinkID3').click();">Mis Empleados</a>
  </li>
<%end%>

</ul>
<div class="tab-content" id="myTab2Content">

  <div class="tab-pane active" id="profile2" role="tabpanel" aria-labelledby="profile2-tab">
    <input type="hidden" id="estadisticasloaded" value="x"/>
    <div id="items_grid">
        
    </div>

  </div>


  <div class="tab-pane" id="home2" role="tabpanel" aria-labelledby="home2-tab">
    <input type="hidden" id="chartsloaded" value="x"/>
    <div id="chart_data">
    </div>
  </div>
  
  <div class="tab-pane" id="misp" role="tabpanel" aria-labelledby="misp-tab">
    <input type="hidden" id="misempleadosloaded" value="x"/>
    <div id="misempleados">
        
    </div>

  </div>
</div>


    </div>    
<div> <!--End Container div-->


<script type="text/javascript">
(function($) {
    $(document).ready(function(){
       document.getElementById('yourLinkID').click();document.getElementById('estadisticasloaded').value='';
    });
})(jQuery);

</script>