<h1>Mis Pendientes</h1>

<%

    modelo = Configuracione.where(:user_id=>current_user.id).first rescue nil
    archivado=false
    if modelo != nil
      archivado = modelo.mostrar_archivados
    else
      Configuracione.create(:user_id=>current_user.id,:mostrar_archivados=>false)
    end  

  @rol = Role.where(:id=>current_user.role).first.nombre
    @llamadas =nil

    if @rol == "ACRM" or @rol == "DN"
          
        @tareas = Tarea.where{model_name!=""}
        @memos = Memo.where{model_name!=""}
        @llamadas = Llamada.where{model_name!=""}
        @attachments = Attachment.where{model_name!=""}
        @correos = Correo.where{model_name!=""}


    elsif @rol == "CP" or @rol == "D"


        @tareas = Tarea.where{model_name!=""}.where(:sede_id=>current_user.sede.id)
        @memos = Memo.where{model_name!=""}.where(:sede_id=>current_user.sede.id)
        @llamadas = Llamada.where{model_name!=""}.where(:sede_id=>current_user.sede.id)
        @attachments = Attachment.where{model_name!=""}.where(:sede_id=>current_user.sede.id)
        @correos = Correo.where{model_name!=""}.where(:sede_id=>current_user.sede.id)
          
    else
        @tareas = Tarea.where{model_name!=""}.where(:user_id=>current_user.id)
        @memos = Memo.where{model_name!=""}.where(:user_id=>current_user.id)
        @llamadas = Llamada.where{model_name!=""}.where(:user_id=>current_user.id)
        @attachments = Attachment.where{model_name!=""}
        @correos = Correo.where{model_name!=""}

    end

@q = @tareas.ransack(params[:q])
@tareas = @q.result(:distinct => true).paginate(:per_page => 50, :page => params[:page]) 

@q1 = @llamadas.ransack(params[:q])
@llamadas = @q1.result(:distinct => true).paginate(:per_page => 50, :page => params[:page]) 

@q2 = @memos.ransack(params[:q])
@memos = @q2.result(:distinct => true).paginate(:per_page => 50, :page => params[:page]) 

whatToAcivate1 = "active"
whatToAcivate2 = ""
whatToAcivate3 = ""

if params[:commit] != nil
  if params[:commit] == "Buscar llamadas"
    whatToAcivate1 = "active"
    whatToAcivate2 = ""
    whatToAcivate3 = ""    
  elsif params[:commit] == "Buscar tareas"
    whatToAcivate1 = ""
    whatToAcivate2 = "active"
    whatToAcivate3 = ""
  else
    whatToAcivate1 = ""
    whatToAcivate2 = ""    
    whatToAcivate3 = "active"
  end
      
end

%>
 <div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="<%=whatToAcivate1%>"><a href="#llamadas" data-toggle="tab">Llamadas</a></li>
    <li class="<%=whatToAcivate2%>"><a href="#tareas" data-toggle="tab">Tareas</a></li>
    <li class="<%=whatToAcivate3%>"><a href="#memos" data-toggle="tab">Notas</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane <%=whatToAcivate2%>" id="tareas">
          <div class="well  well-small">
            <%= search_form_for @q, url: mispendientes_path do |f| %>
              <%= f.label :pendiente_eq %>
              <%= f.check_box :pendiente_eq %>            
              <%= f.label :nombre_cont %>
              <%= f.search_field :nombre_cont %>
              <br/>
              <%= f.submit "Buscar tareas" %>
            <% end %>  
          </div>      
        <div class="well  well-small">


           <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Procendencia</th>
                <th>Nombre tarea</th>
                <th>Nombre prospecto</th>
                <th>Creado en </th>
                <th>Pendiente </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%if @tareas != nil%>

                  <% @tareas.each do |tarea| %>          
                    <tr class="<%if tarea.pendiente%>error<%end%>">
                      <td><%= link_to tarea.id, tarea_path(tarea) %></td>
                      <td><%= link_to "#{tarea.model_name}" , "/#{tarea.model_name}/#{tarea.model_id}/edit" %></td>
                      <%
nombreAUsar = ""                      
case tarea.model_name # a_variable is the variable we want to compare
when "prospectos"    #compare to 1
  nombreAUsar = Prospecto.where{id == tarea.model_id}.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} } rescue [id: tarea.model_id.to_i, nombre: "Sin Dato"] 
when "solicitantes"     #compare to 2
  nombreAUsar = Solicitante.where{id == tarea.model_id}.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} } rescue  [id: tarea.model_id.to_i, nombre: "Sin Dato"] 
when "examinados"
  nombreAUsar = Examinado.where{id == tarea.model_id}.first.solicitantes.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} } rescue  [id: tarea.model_id.to_i, nombre: "Sin Dato"] 
when "admitidos"
  nombreAUsar = Admitido.where{id == tarea.model_id}.first.examinados.first.solicitantes.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }  rescue [id: tarea.model_id.to_i, nombre: "Sin Dato"] 
when "inscritos"
  nombreAUsar = Inscrito.where{id == tarea.model_id}.first.admitidos.first.examinados.first.solicitantes.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }  rescue [id: tarea.model_id.to_i, nombre: "Sin Dato"] 
else
  nombreAUsar =  [id: tarea.model_id.to_i, nombre: "Sin Dato"] 
end                      

                      %>
                      <td><%= link_to tarea.nombre, tarea_path(tarea) %></td>
                      <td>
                        <%if nombreAUsar[0]!=nil%>
                          <%= link_to "#{nombreAUsar[0][:id]} - #{nombreAUsar[0][:nombre]} #{nombreAUsar[0][:apellido_paterno]} #{nombreAUsar[0][:apellido_materno]}" , "/#{tarea.model_name}/#{tarea.model_id}/edit" , target: '_blank' %>
                        <%end%>
                      </td>                      
                      <td><%= link_to tarea.created_at, tarea_path(tarea) %></td>
                      <td>
                        <%if tarea.pendiente == nil%>
                          <%= link_to "No Pendiente", tarea_path(tarea) rescue nil%>
                        <%else%>
                          <%if tarea.pendiente == true%>
                              <%= link_to "Pendiente", tarea_path(tarea) rescue nil%>
                          <%else%>
                              <%= link_to "No Pendiente", tarea_path(tarea) rescue nil%>                          
                          <%end%>
                        <%end%>
                      </td>                      
                      <td>
                        <%if tarea.pendiente == nil%>
                        <%else%>
                          <%if tarea.pendiente == true%>
                              <%= link_to 'Acciones pendientes', edit_tarea_path(tarea), :class => 'btn btn-mini btn-warning' %>                        
                          <%end%>
                        <%end%>                        
                        <%= link_to 'Edit', edit_tarea_path(tarea), :class => 'btn btn-mini' %>
                        <%= link_to 'Destroy', tarea_path(tarea), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                      </td>
                    </tr>
                  <% end %>
                  <br/><%= will_paginate @tareas  %>
                  <b><%=@tareas.size%> registros de un total de <%=@tareas.total_entries%></b>
                <%end%>
            </tbody>
          </table>
        </div>
    </div>
    <div class="tab-pane <%=whatToAcivate1%>" id="llamadas">
        <div class="well  well-small">

          <%= search_form_for @q1, url: mispendientes_path do |f| %>
            <%= f.label :pendiente_eq %>
            <%= f.check_box :pendiente_eq %>          
            <%= f.label :asunto_cont %>
            <%= f.search_field :asunto_cont %>          


<div class="control-group date optional q_inicio_de_la_llamada_lteq">
  <label class="date optional control-label" for="q_inicio_de_la_llamada_lteq">
    <label for="q_inicio_de_la_llamada_lteq">Inicio de la llamada menor que o igual a</label>
  </label>
  <div class="controls">



               <div class="input-append date datepicker" data-date-format="yyyy/mm/dd" data-date="<%=params[:q][:q_inicio_de_la_llamada_lteq].to_date.strftime('%Y/%m/%d') rescue nil%>">
                 <input name="q[q_inicio_de_la_llamada_lteq]" id="q_inicio_de_la_llamada_lteq" type="text" size="30"  label="Fecha de la llamada: " value="<%=params[:q][:q_inicio_de_la_llamada_lteq].to_date.strftime('%Y/%m/%d') rescue nil%>">
                  <span class="add-on"><i class="icon-th"></i></span>
               </div>  
    </div>

</div>
            <br/>
            <%= f.submit "Buscar llamadas"  %>
          <% end %>  
        </div>      
        <div class="well  well-small">
           <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Procendencia</th>
                <th>Asunto llamada</th>
                <th>Nombre prospecto</th>
                <th>Creado en </th>
                <th>Pendiente </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%if @llamadas != nil %>
                  <% @llamadas.each do |llamada| %>  
                                        <%
nombreAUsar = ""                      
case llamada.model_name # a_variable is the variable we want to compare
when "prospectos"    #compare to 1
  nombreAUsar = Prospecto.where{id == llamada.model_id}.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} } rescue [id: llamada.model_id.to_i, nombre: "Sin Dato"] 
when "solicitantes"     #compare to 2
  nombreAUsar = Solicitante.where{id == llamada.model_id}.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }rescue [id: llamada.model_id.to_i, nombre: "Sin Dato"] 
when "examinados"
  nombreAUsar = Examinado.where{id == llamada.model_id}.first.solicitantes.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }  rescue [id: llamada.model_id.to_i, nombre: "Sin Dato"] 
when "admitidos"
  nombreAUsar = Admitido.where{id == llamada.model_id}.first.examinados.first.solicitantes.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }    rescue [id: llamada.model_id.to_i, nombre: "Sin Dato"] 
when "inscritos"
  nombreAUsar = Inscrito.where{id == llamada.model_id}.first.admitidos.first.examinados.first.solicitantes.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }  rescue [id: llamada.model_id.to_i, nombre: "Sin Dato"] 
else
  nombreAUsar = [id: llamada.model_id.to_i, nombre: "Sin Dato"] 
end                 
                      %>
                    <tr class="<%if llamada.pendiente%>error<%end%>">
                      <td><%= link_to llamada.id, llamada_path(llamada) %></td>
                      <td><%= link_to "#{llamada.model_name}" , "/#{llamada.model_name}/#{llamada.model_id}/edit" %></td>
                      <td><%= link_to llamada.asunto, llamada_path(llamada) %></td>
                      <td>
                        <%if nombreAUsar[0]!=nil%>
                          <%= link_to "#{nombreAUsar[0][:id]} - #{nombreAUsar[0][:nombre]} #{nombreAUsar[0][:apellido_paterno]} #{nombreAUsar[0][:apellido_materno]}" , "/#{llamada.model_name}/#{llamada.model_id}/edit" , target: '_blank' %>
                        <%end%>
                      </td>                       
                      <td><%= link_to llamada.created_at, llamada_path(llamada) %></td>
                      <td>
                        <%if llamada.pendiente == nil%>
                          <%= link_to "No Pendiente", llamada_path(llamada) rescue nil%>
                        <%else%>
                          <%if llamada.pendiente == true%>
                              <%= link_to "Pendiente", llamada_path(llamada) rescue nil%>
                          <%else%>
                              <%= link_to "No Pendiente", llamada_path(llamada) rescue nil%>                          
                          <%end%>
                        <%end%>
                      </td>
                      <td>
                        <%if llamada.pendiente == nil%>
                        <%else%>
                          <%if llamada.pendiente == true%>
                              <%= link_to 'Acciones pendientes', edit_llamada_path(llamada), :class => 'btn btn-mini btn-warning' %>                        
                          <%end%>
                        <%end%>
                        <%= link_to 'Edit', edit_llamada_path(llamada), :class => 'btn btn-mini' %>
                        <%= link_to 'Destroy', llamada_path(llamada), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                      </td>
                    </tr>
                  <% end %>
                  <br/><%= will_paginate @llamadas  %>
                  <b><%=@llamadas.size%> registros de un total de <%=@llamadas.total_entries%></b>
              <%end%>
            </tbody>
          </table>
        </div>
    </div>
    <div class="tab-pane <%=whatToAcivate3%>" id="memos">
        <div class="well  well-small">

          <%= search_form_for @q2, url: mispendientes_path do |f| %>
            <%= f.label :pendiente_eq %>
            <%= f.check_box :pendiente_eq %>
            <%= f.label :nombre_cont %>
            <%= f.search_field :nombre_cont %>               

            <br/>
            <%= f.submit  "Buscar notas" %>
          <% end %>  
        </div>      
        <div class="well  well-small">
           <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Procendencia</th>
                <th>Nombre nota</th>
                <th>Nombre prospecto</th>
                <th>Creado en </th>
                <th>Pendiente </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%if @memos != nil %>
                <% @memos.each do |memo| %>
                                      <%
nombreAUsar = ""                      
case memo.model_name # a_variable is the variable we want to compare
when "prospectos"    #compare to 1
  nombreAUsar = Prospecto.where{id == memo.model_id}.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }rescue [id: memo.model_id.to_i, nombre: "Sin Dato"] 
when "solicitantes"     #compare to 2
  nombreAUsar = Solicitante.where{id == memo.model_id}.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }rescue [id: memo.model_id.to_i, nombre: "Sin Dato"] 
when "examinados"
  nombreAUsar = Examinado.where{id == memo.model_id}.first.solicitantes.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }  rescue [id: memo.model_id.to_i, nombre: "Sin Dato"] 
when "admitidos"
  nombreAUsar = Admitido.where{id == memo.model_id}.first.examinados.first.solicitantes.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }  rescue [id: memo.model_id.to_i, nombre: "Sin Dato"] 
when "inscritos"
  nombreAUsar = Inscrito.where{id == memo.model_id}.first.admitidos.first.examinados.first.solicitantes.first.prospectos.select([:id, :nombre,:apellido_paterno,:apellido_materno]).map {|e| {id: e.id, nombre: e.nombre, apellido_paterno: e.apellido_paterno, apellido_materno: e.apellido_materno} }   rescue [id: memo.model_id.to_i, nombre: "Sin Dato"] 
else
  nombreAUsar = [id: memo.model_id.to_i, nombre: "Sin Dato"] 
end                      

                      %>
                  <tr class="<%if memo.pendiente%>error<%end%>">
                    <td><%= link_to memo.id, memo_path(memo) %></td>
                    <td><%= link_to "#{memo.model_name}" , "/#{memo.model_name}/#{memo.model_id}/edit" %></td>
                    <td><%= link_to memo.nombre, memo_path(memo) %></td>
                      <td>
                        <%if nombreAUsar[0]!=nil%>
                          <%= link_to "#{nombreAUsar[0][:id]} - #{nombreAUsar[0][:nombre]} #{nombreAUsar[0][:apellido_paterno]} #{nombreAUsar[0][:apellido_materno]}" , "/#{memo.model_name}/#{memo.model_id}/edit" , target: '_blank' %>
                        <%end%>
                      </td>                     
                    <td><%= link_to memo.created_at, memo_path(memo) %></td>
                      <td>
                        <%if memo.pendiente == nil%>
                          <%= link_to "No Pendiente", memo_path(memo) rescue nil%>
                        <%else%>
                          <%if memo.pendiente == true%>
                              <%= link_to "Pendiente", memo_path(memo) rescue nil%>
                          <%else%>
                              <%= link_to "No Pendiente", memo_path(memo) rescue nil%>                          
                          <%end%>
                        <%end%>
                      </td>
                      <td>
                        <%if memo.pendiente == nil%>
                        <%else%>
                          <%if memo.pendiente == true%>
                              <%= link_to 'Acciones pendientes', edit_memo_path(memo), :class => 'btn btn-mini btn-warning' %>                        
                          <%end%>
                        <%end%>
                      <%= link_to 'Edit', edit_memo_path(memo), :class => 'btn btn-mini' %>
                      <%= link_to 'Destroy', memo_path(memo), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                    </td>
                  </tr>
                <% end %>
                <br/><%= will_paginate @memos  %>
                <b><%=@memos.size%> registros de un total de <%=@memos.total_entries%></b>
              <%end%>
            </tbody>
          </table>
        </div>  
    </div>
   

  </div>
</div>

<script type="text/javascript">
(function($) {
$(document).ready(function(){
  $('.datepicker').datepicker();
});
})(jQuery);

</script>
